body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#app {
  background-color: darkgray;
  height: 200px;
  position: relative;
  border: 5px solid black;
  }

#logout{
  position: absolute;
  left: 95%;
}

#navBar{
  position: absolute;
  left: 50%;
}

#restaurants{
  position: absolute;
  left: 40%;
}

#restaurantCard{
  border: 5px solid black;
  position: relative;
  margin-bottom: 5px;
  margin-top: 5px;
}